<div class="row">
    <div class="col-sm-9 main">
        <h2 class="sub-header">Create category</h2>

        <form name="spaForm" ng-submit="vm.createCategory()" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">Category name</label>
                <div class="col-md-6">
                    <input class="form-control" name="name" ng-model="vm.categoriesService.category.name" required>
                    <div class="form-error" ng-if="spaForm.$submitted && spaForm.name.$invalid">
                        <p>Name is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-md-6">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a ui-sref="index" class="btn btn-default">Back</a>
                </div>
            </div>
        </form>

    </div>
</div>