<div class="row">
    <div class="col-sm-9 main">
        <h2 class="sub-header">Edit product</h2>

        <form name="spaForm" ng-submit="vm.editProduct()" class="form-horizontal" novalidate>
            <div class="form-group">
                <label class="col-md-2 control-label">Product name</label>
                <div class="col-md-6">
                    <input class="form-control" name="name" ng-model="vm.productsService.product.name" required>
                    <div class="form-error" ng-if="spaForm.$submitted && spaForm.name.$invalid">
                        <p>Name is required.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">Product price</label>
                <div class="col-md-6">
                    <input class="form-control" name="price" ng-model="vm.productsService.product.price" required>
                    <div class="form-error" ng-if="spaForm.$submitted && spaForm.price.$invalid">
                        <p>Price is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox" ng-repeat="category in vm.productsService.categories">
                        <label>
                            <input type="checkbox"
                                   checklist-model="vm.productsService.product.categories"
                                   checklist-value="category.id">
                            {{category.name}}
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-md-6">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a ui-sref="index" class="btn btn-default">Back</a>
                </div>
            </div>
        </form>

    </div>
</div>