<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <div>
                    <a href="#">All</a>
                </div>
            </li>
            <li ng-repeat="category in vm.productsService.categories">
                <div>
                    <span class="glyphicon glyphicon-signal" aria-hidden="true" title="Number of products"></span>
                    <span>{{ category.products_count }}</span>
                    <a ui-sref="index({category: category.id, page: 1})">{{ category.name }}</a>
                    <a class="btn btn-primary btn-xs pull-right" ui-sref="editCategory({categoryId: category.id})">Edit</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h2 class="sub-header">Products list</h2>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in vm.productsService.products">
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price | currency: '$' }}</td>
                        <td><a class="pull-right" ui-sref="editProduct({productId: product.id})">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-sm-12">
            <nav>
                <ul class="pagination">
                    <li ng-repeat="page in vm.productsService.pagination track by $index">
                        <a ui-sref="index({page: page})">{{ page }}</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</div>